.footer
  padding: 75px 0 90px
  &__logo
    margin-bottom: 16px
  &-privacy
    font-weight: 600
    margin-bottom: 64px
    display: block
  &-copyrights
    font-size: 14px

    font-weight: 600
    line-height: 180%
    letter-spacing: 4px
    text-transform: uppercase
    color: $sec-text-color
  &__image
    margin-left: auto
    width: fit-content
@media screen and ( max-width: 768px )
  .footer
    padding: 32px 0 64px
    &-privacy
      margin-bottom: 24px
    &__image
      margin: 32px 0 0
