.form-with-image

  &-wrapper

  &__image
    display: flex
    padding-top: 64px
    // padding: 64px 109px 0px 109px
    flex-direction: column
    justify-content: flex-end
    align-items: center
    border-radius: 8px
    background: rgba(34, 142, 253, 0.08)
    height: 100%
    picture,img
      max-width: 440px
      width: 100%
      margin: auto
  &__form-block
