.service-form
  margin: 70px 0
  &-wrapper
    border-radius: 8px
    background: linear-gradient(0deg, rgba(34, 142, 253, 0.08) 0%, rgba(34, 142, 253, 0.08) 100%), #fff
    padding: 64px 106px
    margin: -64px -106px
