<section class="section docs-form colored-bg">
	<div class="container">
		<div class="docs-form-wrapper">
			<h2 class="docs-form__title section-title">У вас нестандартный проект или вы <span>не знаете, </span> как правильно все рассчитать?</h2>
			<div class="row">
				<div class="col-lg-6 d-none d-lg-block" data-aos="fade-right">
					<div class="docs-form__image">
						<picture
							><source type="image/webp" srcset="img/phone.webp" />
							<source type="image/png" srcset="img/phone.png" />
							<img src="img/phone.png" alt=""
						/></picture>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="docs-form-block"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- /.section docs-form -->
