<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				@@include('../bem-blocks/_logo.html', { class: "footer__logo" })
				<a href="#" class="footer-privacy">Политика конфиденциальности</a>
				<div class="footer-copyrights">Copyright © 2023 «КИС» Все права защищены</div>
			</div>
			<div class="col-md-3">
				<p class="footer-menu-title">Услуги</p>
				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">Холодоснабжение</a></li>
					<li class="footer-menu__item"><a href="#">Вентиляция и кондиционирование</a></li>
					<li class="footer-menu__item"><a href="#">Аудит и модернизация существующих систем</a></li>
					<li class="footer-menu__item"><a href="#">Гарантийное и постгарантийное обслуживание</a></li>
					<li class="footer-menu__item"><a href="#">Нестандартное и специализированное оборудование</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<p class="footer-menu-title">Навигация</p>
				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">Выполненные объекты</a></li>
					<li class="footer-menu__item"><a href="about.html">О компании</a></li>
					<li class="footer-menu__item"><a href="news.html">Новости</a></li>
					<li class="footer-menu__item"><a href="#">Сертификаты</a></li>
					<li class="footer-menu__item"><a href="#">Отзывы</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
