<section class="service-form section" data-aos="fade-up">
	<div class="container">
		<div class="service-form-wrapper">
			<form class="form">
				<div class="row">
					<div class="col-lg-6">
						<div class="form__title section-title">Заполните данные, загрузите проект (если есть) или любые другие файлы</div>
						<div class="form__text">
							Мы свяжемся с вами и <span>рассчитаем стоимость, сроки доставки и монтажа</span> вентиляции или системы холодоснабжения
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form__label">
							<label for="name_field">Имя <span class="required">*</span></label>
							<input id="name_field" type="text" class="form__input" placeholder="Ваше имя" />
						</div>
						<div class="form__label">
							<label for="phone_field">Телефон <span class="required">*</span></label>
							<input id="phone_field" type="tel" class="form__input" />
						</div>
						<div class="form__label">
							<label for="comment_field">Комментарий <span class="required">*</span></label>
							<textarea id="comment_field" class="form__input form__textarea" placeholder="Ваш комментарий"></textarea>
						</div>
						<label class="form__file">
							<span
								><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M14.2929 7.36645L8.16621 13.4931C7.41565 14.2437 6.39766 14.6653 5.33621 14.6653C4.27475 14.6653 3.25677 14.2437 2.50621 13.4931C1.75565 12.7425 1.33398 11.7246 1.33398 10.6631C1.33398 9.60166 1.75565 8.58367 2.50621 7.83311L8.21954 2.11978C8.71992 1.61852 9.39892 1.33656 10.1072 1.33594C10.8154 1.33531 11.4949 1.61607 11.9962 2.11645C12.4975 2.61682 12.7794 3.29583 12.78 4.00409C12.7807 4.71235 12.4999 5.39185 11.9995 5.89311L6.27288 11.6064C6.02269 11.8566 5.68336 11.9972 5.32954 11.9972C4.97572 11.9972 4.6364 11.8566 4.38621 11.6064C4.13602 11.3563 3.99547 11.0169 3.99547 10.6631C3.99547 10.3093 4.13602 9.96997 4.38621 9.71978L10.0462 4.06645"
										stroke="#228EFD"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
								</svg>
								Прикрепить файл
							</span>
							<input type="file" name="" id="" />
						</label>
						<div class="form-bottom">
							<button class="btn form__btn">Заказать расчет</button>
							<label class="form__acceptance">
								<input type="checkbox" checked />
								<span>Даю свое согласие на обработку персональных данных</span>
							</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- /.service-form section -->
