<section class="systems section colored-bg">
	<div class="container">
		<div class="systems-wrapper">
			<h2 class="systems__title section-title" data-aos="fade-right">Инженерные системы для <span>любых отраслей</span></h2>
			<!-- Slider main container -->
			<div class="systems-swiper swiper">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper row">
					<div class="swiper-slide col-12 col-lg-3 col-md-6 mb-3" data-aos="fade-down" data-aos-delay="100">
						<div class="systems-item">
							<div class="systems-item__image">
								<picture>
									<source type="image/webp" srcset="img/systems-1.webp" />
									<source type="image/jpeg" srcset="img/systems-1.jpg" />
									<img src="img/systems-1.jpg" alt="" />
								</picture>
							</div>
							<div class="systems-item__title">
								<p>
									Производственные <br />
									помещения и склады
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide col-12 col-lg-3 col-md-6 mb-3" data-aos="fade-down" data-aos-delay="200">
						<div class="systems-item">
							<div class="systems-item__image">
								<picture>
									<source type="image/webp" srcset="img/systems-2.webp" />
									<source type="image/jpeg" srcset="img/systems-2.jpg" />
									<img src="img/systems-2.jpg" alt="" />
								</picture>
							</div>
							<div class="systems-item__title">
								<p>Сельское <br />хозяйство</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide col-12 col-lg-3 col-md-6 mb-3" data-aos="fade-down" data-aos-delay="300">
						<div class="systems-item">
							<div class="systems-item__image">
								<picture>
									<source type="image/webp" srcset="img/systems-3.webp" />
									<source type="image/jpeg" srcset="img/systems-3.jpg" />
									<img src="img/systems-3.jpg" alt="" />
								</picture>
							</div>
							<div class="systems-item__title">
								<p>
									Магазины <br />
									и торговые центры
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide col-12 col-lg-3 col-md-6 mb-3" data-aos="fade-down" data-aos-delay="400">
						<div class="systems-item">
							<div class="systems-item__image">
								<picture>
									<source type="image/webp" srcset="img/systems-4.webp" />
									<source type="image/jpeg" srcset="img/systems-4.jpg" />
									<img src="img/systems-4.jpg" alt="" />
								</picture>
							</div>
							<div class="systems-item__title">
								<p>
									Бизнес-центры <br />
									и офисы
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide col-12 col-lg-3 col-md-6 mb-3" data-aos="fade-down" data-aos-delay="500">
						<div class="systems-item">
							<div class="systems-item__image">
								<picture>
									<source type="image/webp" srcset="img/systems-5.webp" />
									<source type="image/jpeg" srcset="img/systems-5.jpg" />
									<img src="img/systems-5.jpg" alt="" />
								</picture>
							</div>
							<div class="systems-item__title">
								<p>
									Отели и <br />
									рестораны
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide col-12 col-lg-3 col-md-6 mb-3" data-aos="fade-down" data-aos-delay="600">
						<div class="systems-item">
							<div class="systems-item__image">
								<picture>
									<source type="image/webp" srcset="img/systems-6.webp" />
									<source type="image/jpeg" srcset="img/systems-6.jpg" />
									<img src="img/systems-6.jpg" alt="" />
								</picture>
							</div>
							<div class="systems-item__title">
								<p>
									Жилые <br />
									комплексы
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide col-12 col-lg-3 col-md-6 mb-3" data-aos="fade-down" data-aos-delay="700">
						<div class="systems-item">
							<div class="systems-item__image">
								<picture>
									<source type="image/webp" srcset="img/systems-7.webp" />
									<source type="image/jpeg" srcset="img/systems-7.jpg" />
									<img src="img/systems-7.jpg" alt="" />
								</picture>
							</div>
							<div class="systems-item__title">
								<p>
									Спортивные <br />
									объекты
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide col-12 col-lg-3 col-md-6 mb-3" data-aos="fade-down" data-aos-delay="800">
						<div class="systems-item">
							<div class="systems-item__image">
								<picture>
									<source type="image/webp" srcset="img/systems-8.webp" />
									<source type="image/jpeg" srcset="img/systems-8.jpg" />
									<img src="img/systems-8.jpg" alt="" />
								</picture>
							</div>
							<div class="systems-item__title">
								<p>
									Медицинские <br />
									учреждения
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="systems-bottom">
					<!-- If we need pagination -->
					<div class="systems-pagination"></div>

					<!-- If we need navigation buttons -->
					<div class="systems-arrows">
						<button class="systems-arrow arrow systems-arrow--prev">
							<svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="42" height="41" rx="8" fill="#228EFD" fill-opacity="0.08" />
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M19.6513 25.8841C19.8973 26.1298 19.8975 26.5285 19.6517 26.7745C19.4059 27.0205 19.0072 27.0207 18.7612 26.7749L13.4164 21.4346C13.1704 21.1888 13.1702 20.7902 13.416 20.5442L18.7562 15.1993C19.002 14.9533 19.4007 14.9531 19.6467 15.1989C19.8927 15.4447 19.8928 15.8433 19.6471 16.0893L15.3812 20.3589L28.108 20.3534C28.4557 20.3533 28.7377 20.635 28.7379 20.9828C28.738 21.3305 28.4563 21.6125 28.1085 21.6127L15.3817 21.6182L19.6513 25.8841Z"
									fill="#228EFD"
								/>
								<rect x="0.5" y="0.5" width="41" height="40" rx="7.5" stroke="white" stroke-opacity="0.4" />
							</svg>
						</button>
						<button class="systems-arrow arrow systems-arrow--next">
							<svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="42" y="41" width="42" height="41" rx="8" transform="rotate(-180 42 41)" fill="#228EFD" fill-opacity="0.08" />
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M22.3487 15.1159C22.1027 14.8702 22.1025 14.4715 22.3483 14.2255C22.5941 13.9795 22.9928 13.9793 23.2388 14.2251L28.5836 19.5654C28.8296 19.8112 28.8298 20.2098 28.584 20.4558L23.2438 25.8007C22.998 26.0467 22.5993 26.0469 22.3533 25.8011C22.1073 25.5553 22.1072 25.1567 22.3529 24.9107L26.6188 20.6411L13.892 20.6466C13.5443 20.6467 13.2623 20.365 13.2621 20.0172C13.262 19.6695 13.5437 19.3875 13.8915 19.3873L26.6183 19.3818L22.3487 15.1159Z"
									fill="#228EFD"
								/>
								<rect x="41.5" y="40.5" width="41" height="40" rx="7.5" transform="rotate(-180 41.5 40.5)" stroke="white" stroke-opacity="0.4" />
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- /.systems section -->
