.footer-menu
  &-title
    @include font(18px, 140%,600)
    margin-bottom: 16px
  &__item

    @include font( 12px,130%)

    // white-space: nowrap
    color: rgba(245, 245, 245, 0.50)
    &:not(:last-child)
      margin-bottom: 16px
    a
      transition: .3s

@media screen and ( max-width:992px  )
  .footer-menu
    flex-direction: column
    &__item
      margin-bottom: 20px
@media screen and ( min-width: 992px )
  .footer-menu__item a:hover
    // text-decoration: underline
    color: $main-color
