.form
  &__title
    margin-bottom: 16px
  &__text
    margin-bottom: 32px
    span
      color: $main-color
  &__label
    font-size: 12px
    display: flex
    flex-direction: column
    gap: 8px
    margin-bottom: 8px
    .required
      color: #d24e4e
  &__input
    padding: 13px 12px
    width: 100%
    border-radius: 5px
    border: 1px solid rgba(0,0,0,.1)
    background-color: transparent
    font-size: 16px
    background-color: #fff
    &::placeholder
      color: $sec-text-color
    &[type="tel"]
      padding-left: 90px !important
  &__textarea
    resize: none
    height: 102px
  &__file
    cursor: pointer
    color: $main-color
    input
      opacity: 0
      position: absolute
      visibility: hidden
  &-bottom
    margin-top: 32px
    display: flex
  &__acceptance
    display: flex
    align-items: center
    margin-left: 16px
    cursor: pointer
    cursor: pointer
    // max-width: 285px
    input
      // flex: 1 1 auto
      width: 16px
      height: 16px
      border: 1px solid rgba(0,0,0,.5)
      border-radius: 5px
      margin: 0 10px 0 0
      position: relative
      display: flex
      align-items: center
      justify-content: center
      appearance: auto
      position: relative
      appearance: none
      transition: .3s
      background-color: #fff
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        background-image: url(../img/checkbox.svg)
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
        width: 8px
        height: 8px
        opacity: 0
        transition: .3s
      &:checked
        border-color: $main-color
        &::before
          opacity: 1
    span
      display: block
      max-width: 265px
    &--wide
      margin-left: 0
      margin-top: 24px
      span
        max-width: calc(100% - 26px)
  &__social
    margin-left: 16px
  &__row
    display: flex
    align-items: center
    justify-content: space-between
    .form__label
      width: 32.5%
    .iti__selected-flag
      padding-right: 8px !important
    .form__input[type="tel"]
      padding-left: 70px !important
  .iti__flag
    box-shadow: none
    border-radius: 2px
  .iti__selected-dial-code
    font-size: 16px
    margin-left: 8px !important
  .iti__arrow
    border: none
    background-image: url(../img/arrow-down.svg)
    background-size: contain
    background-repeat: no-repeat
    width: 16px
    height: 16px
    margin-left: 8px
  .iti--separate-dial-code .iti__selected-flag
    background-color: transparent
  .iti__selected-flag
    padding-right: 16px
    border-right: 1px solid rgba(0,0,0,.1)
    opacity: 0.5
    transition: .3s
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.10)
  .iti__flag-container
    display: flex
    align-items: center
@media screen and ( min-width: 992px )
  .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag
    opacity: 1
    background-color: transparent
@media screen and ( max-width: 768px )
  .form__row
    flex-direction: column
    .form__label
      width: 100%
    .iti__selected-flag
      padding-right: 16px !important
    .form__input[type="tel"]
      padding-left: 90px !important

@media screen and ( max-width: 576px )
  .form-bottom
    flex-direction: column
  .form__acceptance
    margin-left: 0
    margin-top: 16px
  .form__social
    margin: 16px 0 0 0
    align-self: start
