.section-title
  @include font( 42px, 120%, 600)
  letter-spacing: -1px
  color: $title-color
  span
    color: $main-color
@media screen and ( max-width: 1400px )
  .section-title
    font-size: 32px
@media screen and ( max-width: 768px )
  .section-title
    font-size: 28px
